@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&display=swap');

html{
  margin:0;
  /* background-color: #ebedef; */
  background-image: linear-gradient(90deg, #5f0c16, #920606);
  
  font-family: 'Bitter', serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

