@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&display=swap');

html{
  margin:0;
  /* background-color: #ebedef; */
  /* background-image: linear-gradient(90deg, #5f0c16, #920606); */
  background-color: #920606;
  
  font-family: 'Bitter', serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#root {
  margin:0;
  width: 100%;
  display: flex;
}
.table-striped {
  margin-right:10px;
}

@media
only screen 
and (max-width: 1400px), (min-device-width: 500px) 
and (max-device-width: 1024px)  {
    .mov-modal{
      font-size:1em;
    }
    .table-striped, thead, tbody, th, td, tr {
        display: block;
       font-size: 12px;      
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

tr {
  margin: 0 0 0.625rem 0;
}

.table-striped {
  border-collapse: separate;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color:#ddd;
}

td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    
   
}

td:before { 
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10%; 
  padding-right: 10px; 
  white-space: nowrap;
}

td.section:nth-of-type(1):before { content: ""; }
td.section:nth-of-type(2):before { content: "CNPJ"; }
td.section:nth-of-type(3):before { content: "CPF"; }
td.section:nth-of-type(4):before { content: "DOCUMENTO"; }
td.section:nth-of-type(5):before { content: "RELAÇÃO/PAPEL"; }
td.section:nth-of-type(6):before { content: "ADVOGADOS"; }
td.section:nth-of-type(7):before { content: "AUTORA"; }
td.section:nth-of-type(8):before { content: "CO-AUTORA"; }
td.section:nth-of-type(9):before { content: "RÉ"; }
td.section:nth-of-type(10):before { content: "NEUTRA"; }

td.mov:nth-of-type(1):before { content: "Data"; }
td.mov:nth-of-type(2):before { content: "Título-Mov"; }
td.mov:nth-of-type(3):before { content: "Texto"; }
td.mov:nth-of-type(4):before { content: "Juiz"; }
td.mov:nth-of-type(5):before { content: "Andamento"; }

td.lawyer-modal:nth-of-type(1):before { content: ""; }
td.lawyer-modal:nth-of-type(2):before { content: "OAB"; }
td.lawyer-modal:nth-of-type(3):before { content: "CPF"; }
td.lawyer-modal:nth-of-type(4):before { content: "UF"; }
}


